body{

  background-color: grey;

  background-color: rgb(58, 105, 105);

  width: 960px;
  margin: 0 auto;
}
main{
  float: none;
font-size: small;
  
}
img{
  width: 300px;
  height: 300px;
  border: blue solid;
  border-radius: 15%;
}
h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

